body {
    background: #edf8f4;
}

p {
    width: 75%;
    color: #2f3941;
    font-family: Verdana;
    font-size: 3em;
}

.carousel-item {
    height: 100vh;
    text-align: center;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
