.vertical-center {
    position: absolute;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.slidercontainer {
  position: absolute;
  width: 100%;
}

.sliderspot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color:transparent;
  border: 0px;
  cursor: pointer;

}

.sliderspot img {
    height: 14px;
}

.spot1 {
  left: 20px;
}

.spot2 {
  right: 20px;
}

#sliderul {
  padding: 0px 40px;
  list-style-type: none;
  text-align: center;
  line-height: 40px;
  display: inline-block;
}

.slidercontent {
  font-size: 30px;
  color: #1D1F20;
}

.slidercontent span {
  font-size: 24px;
  display: block;
  margin-top: 10px;
  color: #343436;
}